/****Large devices only****/

@media (min-width: 1200px) {
    .slideshow-container{
        padding: 30px 0px 0 0px;
    }

    .container{
        width: 1000px;
    }
   
}


/****Medium devices only****/
@media (min-width: 992px) and (max-width: 1199px) {
    .slideshow-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .next {
        margin-right: 20px;
    }
    
    

}

 /****Small devices only****/
@media (min-width: 768px) and (max-width: 991px) {

    
    
}

 /****Extra Small devices only****/
 @media (max-width: 767px) {
    #menu-tile, #specials-tile, #map-tile {
        height: 150px;
    }

    #btnSearch{
        margin-top: 10px;
    }

    .login{
        margin-top: 10px;
        padding-right: 30px;
    }

    .btnLupa{
        display: inline;
    }

    #btnSearch .lupa{
        display: none;
    }

    .btnLupa{
        display: inline;
    }
 
    .logo img{
        width:170px;
        padding-top: 10px; 
    }

    #searchQueryInput {
        width: 100%;
        height: 3.5rem;
        font-size: 1rem;
        
    }

    .buscador-itms{
        width: 100%;
        margin-top: 50%;
    }

    .slideshow-container{
        padding: 5px 10px 0 10px;
    }

    .next {
        margin-right: 20px;
    }
 }