*{
    box-sizing: border-box;
}

:root{
    --color-gray: #f5f5f7;
    --color-light-blue: #2997FF;
    --color-dark-blue: #273483;
    --color-lessox: #FFA300;

}


#searchQuerySubmit {
  height: 3.5rem;
  margin: 20px;
  padding: 5px 20px 10px 20px;
  border-radius: 15px;
  background: var(--color-light-blue);
  border: none;
  outline: none;
  color: var(--white);
  font-size: 2rem;
  transition: all .2s ease-in-out;
}

#searchQuerySubmit:hover{
  transform: scale(1.1);
}

.btn{
  
  background: var(--color-light-blue);
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 2rem;
}

div.lessox{
  text-align: left;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(75, 56, 56, 0.274);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  width: fit-content;
}

.right-col {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(75, 56, 56, 0.548);
}

.right-banner {
   background: var(--color-gray);
   width: 100%;
   box-sizing: border-box;
   width: 100%;
}

.sticky {
 position: fixed;
 bottom: 0;
 width: 50%;
 box-shadow: 0px 0px 10px rgba(75, 56, 56, 0.548);
} 

.closeX{
  float:right;
  padding-right: 20px;
  padding-top: 5px;
  color: var(--white);
  position: absolute;
  right:0;
  top: 5px;
}

.lessox a{
  color: var(--white);
  text-decoration: none;

}

button:focus {
  outline: none;

}

button{
  padding: 0;
}

body{
    font-family: 'heebo', sans-serif;
}

p{
    font-size: 14px;
}

.text-center{
  text-align: center;
}

.pt-40{
  padding-top: 40px;
}

.marginIcons{
  margin-top:5px;
}

.center-itm{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}

/* SEARCH VIEW */
.fade-enter-active, .fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.buscador{
    background-color: rgba(255, 255, 255, 0.89);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 30px;
    display: none;
}

.buscador-itms{
    margin-top: 15%;
    width:fit-content;
}

#searchQueryInput {
    width: 500px;
    height: 3.5rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-light-blue);
    font-size: 2rem;
    
}

.buscador input:active{
    border-bottom: 1px black;
    background: violet;
}


  
#searchQuerySubmit:hover {
    cursor: pointer;
}

input[type="search"]{
    text-align: center;
    font-weight: lighter;
}
/* END SEARCH VIEW */


/* SEARCH BUTTON */

.lupa{
    padding-right:1rem;
    background: none;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
    height: 3.5rem;
    font-size: 1.2rem;
    color: var(--color-dark-blue)
}

.lupa:hover{
    transform: scale(1.5);
    color: var(--color-light-blue);
}

/* END SEARCH BUTTON */

.logo{
    text-align: center;
}

.logo img{
    width:200px; 
}

/* NAV MENU */
li {
    display: inline;
}

.navbar-collapse{
  position: absolute;
  width:100%;
  background: var(--color-gray);
  padding: 20px 0;
  box-shadow: 0 1px 10px 1px #2d2d2d1f;
}

.navbar-nav>.nav-item>.nav-link{
  color:var(--color-dark-blue);
}

.navMenu {
    background: var(--color-gray);
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}


.navMenu ul {
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: hidden;
    list-style: none;
}

.topnav li {
    width: 150px;
    display: inline-block;
    text-align: center;
    height: fit-content;
    
}
  
.navMenu a {
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}
  
.navMenu a:hover {
    transform: scale(1.2);
    color: var(--color-light-blue);
}
ul.topnav{
    margin-bottom: 0;
}
/* LOGIN */
.login{
  position: relative;
  display: inline-block;
  text-align: right;
}
.dropdown {
    float: right;
}
.btnLupa{
  float: right;
  display: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    backdrop-filter: blur(5px);
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.185);

}
  

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  

.dropdown-content a:hover {background-color: #f1f1f1}
  


.dropdown button{
    background: none;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;
    height: 3.5rem;
    font-size: 1.5rem;
    color: var(--color-dark-blue)
}

.dropdown button i{
    display: inline-block;
}


.container-fluid{
    padding-right: 0;
    padding-left: 0;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 30px;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slideshow-container .active , .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .fade:not(.show) {
    opacity: 100;
}

.banner{
    border-radius: 20px;
}

.banner-mobile



.demo {
    width: calc(100% / 3);
  
}
@media screen and (min-width:1024px) {
  .demo {
    width: calc(100% / 4);
    padding: 3em 0;
  }
}


.button {
    position: relative;
    display: inline-block;
    padding: .8em 4em;
    border: 2px solid #333;
    color: #333;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #333;
    transition: transform .3s;
  }
  .button:hover {
    color: #fff;
  }

  
.button01::before {
    transform-origin: right top;
    transform: scale(0, 1);
  }
  .button01:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }


  .span-tgl {
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    transition: all .5s ease;
  }
  .span2 {
    top: 10px;
  }
  .span3 {
    top: 15px;
  }


  .btn {
    position:fixed;
    width:40px;
    height:26px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1000;
  }

  .fa-container i{
    font-size: 30px;
    color: #273480;
  }

  #menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
    background-size: cover;
}


#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 10px 1px #2d2d2d1f;
}

#menu-tile {
    background-image: url('../images/cat-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

#specials-tile {
    background-image: url('../images/cat-2.png');
    background-repeat: no-repeat; 
    background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    color: #fff;
}


.envios,.retiro,.seguridad{
  transition: all .2s ease-in-out;
}
.envios:hover,.retiro:hover,.seguridad:hover{
  transform: scale(1.1);
}

footer{
  background: var(--color-gray);
}


.input-toggler{ 
  display: none;
}

.menu-toggler{
  
  right: 0px;
  top: 0px; 
  width:26px; 
  z-index: 100; 
  display: inline-flex; 
  justify-content:center; 
  align-items:center; 
  flex-direction:column; 
  cursor: pointer;
}

.menu-toggler-line{
  width: 100%; 
  height:4px; 
  background: var(--color-dark-blue);
  border-radius:5px;
  margin: 0 0 3px 0px; 
  position: relative; 
  transition: all .40s ease-out;}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {
  top: 8px;  
  transform:rotate(45deg);
  background: var(--color-light-blue);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
  display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
  top: 0px; 
  transform:rotate(135deg);
  background: var(--color-light-blue);
}

.navbar-toggler:focus {
  box-shadow: none;
}


footer ul{
  padding:0;
}

.selector .copyright{
  text-align: center;
  position: fixed;
  bottom:0;
  left:0;
}

footer .infoJC{
  text-align: center;
  font-size: 12px;
  color: #8b8b8b;
}

.categorias{
  padding: 0px;
}

.categorias div{
  padding: 0;
}

footer li a{
  color:black;
}

/* SELECTOR SITES */
.selector{
  background: var(--color-gray);
}

.selector .container{
  min-height: 85vh;
  max-height: 85vh;
  padding-top: 50px;
}

.selector h1{
  font-weight: bolder;
}

.selector a{
  color: var(--black);
  text-decoration: none;
}

.lessox-btn{
  border: 1px solid rgb(199, 199, 199);
  padding: 15px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  margin-top: 20px;
}
.lessox-btn>img{
  width:100%;
}

.lessox-home-btn>img{
  width: 100%;
}

.lessox-btn:hover{
  transform: scale(1.1);
}


.lessox-home-btn{
  border: 1px solid rgb(199, 199, 199);
  padding: 15px;
  text-align: center;
  width: 60%;
  margin-right: auto;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  margin-top: 20px;
}

.lessox-home-btn:hover{
  transform: scale(1.1);
}


.slide-up{
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}
  
@keyframes slide-up{
  0%{
    transform: translateY(100px)}
  100%{
    transform: translateY(0)}

}

.slide-up2{
  animation: slide-up2 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 1s;
}
  
@keyframes slide-up2{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }

}

.btn-border-1::after,
.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid var(--color-lessox);
    border-bottom: 3px solid var(--color-lessox);
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn-border-1::before {
    top: 0px;
    left: 0px;
    border-top: 3px solid var(--color-lessox);
    border-right: 3px solid var(--color-lessox);
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: #222222;
}

.btn-border-1:hover::after,
.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

/* BORDER LESSOX */

.btn-border-2::after,
.btn-border-2::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn-border-2::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid var(--color-dark-blue);
    border-bottom: 3px solid var(--color-dark-blue);
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn-border-2::before {
    top: 0px;
    left: 0px;
    border-top: 3px solid var(--color-dark-blue);
    border-right: 3px solid var(--color-dark-blue);
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn-border-2:hover {
    animation: pulse 1s ease-out .4s;
    color: #222222;
}

.btn-border-2:hover::after,
.btn-border-2:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-border-2:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn-border-2:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}